<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header">

</head>
<body>

<nav th:replace="layouts :: navbar"></nav>
<div class="container">

    <form action="/employees/save" th:object="${employee}" method="POST">
        <div class="container row mb-2">
            <input type="text" placeholder="First Name" th:field ="${employee.firstName}"></div>

        <div class="container row mb-2">
            <input type="text" placeholder="Last Name" th:field ="${employee.lastName}"></div>

        <div class="container row mb-2">
            <input type="email" placeholder="Email" th:field ="${employee.email}"></div>

        <div class="container row mb-2">
            <button class="btn btn-info col-2" type="submit">Create Project</button></div>
    </form>


</div>



</body>
</html>
